@model StudentERP.Models.Standard

@{
    ViewBag.Title = "Add";
}


@using (Html.BeginForm((string)ViewBag.name, "Standard", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add Standard</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.name)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.name)</td>

                    <td>@Html.ValidationMessageFor(m => m.name)<span id="std"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.LevelOfStd)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.LevelOfStd)</td>

                    <td>@Html.ValidationMessageFor(m => m.LevelOfStd)<span id="lvl"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}