@model StudentERP.Models.BoardSchoolMapping

@{
    ViewBag.Title = "Add_School_Map";
}
@using (Html.BeginForm((string)ViewBag.name, "Board", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add School Wies Board</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.bid)</td>

                    <td class="subheader">@Html.DropDownList("Board", (IEnumerable<SelectListItem>)ViewBag.brd, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.bid)<span id="bd"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.sid)</td>

                    <td class="subheader">@Html.DropDownList("School", (IEnumerable<SelectListItem>)ViewBag.sch, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.sid)<span id="sd"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}