@model StudentERP.Models.City

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add_city", "Home", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add City</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.stat)</td>

                    <td class="subheader">@Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.state, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.stat)<span id="sta"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.cty)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.cty)</td>

                    <td>@Html.ValidationMessageFor(m => m.cty)<span id="ct"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}
