@model StudentERP.Models.ClassTeacher

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm((string)ViewBag.name, "ClassTeacher", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">


            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add Class Teacher</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.tname)</td>

                    <td class="subheader">@Html.DropDownList("TeacherName", (IEnumerable<SelectListItem>)ViewBag.teacher, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.tname)<span id="tm"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.std)</td>

                    <td class="subheader">@Html.DropDownList("Standard", (IEnumerable<SelectListItem>)ViewBag.standard, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.std)<span id="td"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.div)</td>

                    <td class="subheader">@Html.DropDownList("Division", (IEnumerable<SelectListItem>)ViewBag.div, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.div)<span id="dv"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.acadyear)</td>

                    <td class="subheader">@Html.DropDownList("AcadamicYear", (IEnumerable<SelectListItem>)ViewBag.yr, "---Select---")</td>

                    <td>@Html.ValidationMessageFor(m => m.acadyear)<span id="ay"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

}