@model StudentERP.Models.school

@{ViewBag.Title = "Add";}
@using (Html.BeginForm((string)ViewBag.name, "School", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">
            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add School</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.schoolName)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.schoolName)</td>

                    <td>@Html.ValidationMessageFor(m => m.schoolName)<span id="scnm"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.schoolAddress)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.schoolAddress)</td>

                    <td>@Html.ValidationMessageFor(m => m.schoolAddress)<span id="scadd"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.schoolwebsite)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.schoolwebsite)</td>

                    <td>@Html.ValidationMessageFor(m => m.schoolwebsite)<span id="schweb"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.office)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.office)</td>

                    <td>@Html.ValidationMessageFor(m => m.office)<span id="ofce"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.mobNum)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.mobNum)</td>

                    <td>@Html.ValidationMessageFor(m => m.mobNum)<span id="mbnm"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}